<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.lesson.video.mapper.OverviewMapper">

    <select id="getPopularVideo" resultType="java.util.HashMap">
        select title, pv as count from t_video order by pv desc limit 10;
    </select>

    <select id="getPopularClassification" resultType="java.util.HashMap">
        select B.title, count(B.title) as count
        from t_video A join t_classification B on A.classification_id = B.id
        group by B.title
        order by count desc limit 5;
    </select>

    <select id="getWebVisitData" parameterType="java.lang.String" resultType="com.kc.lesson.video.entity.VisitData">
        select ip, count(ip) as count
        from t_op_log
        <where>
        <if test="day != null">
            time like CONCAT('%',#{day},'%')
        </if>
        </where>
        group by ip
    </select>
</mapper>
